/* author : Niman Wijerathna
Created : 2024/05/02
Description : this is the home layout css (hp- home page) */

.hp-s1-container {
  display: flex;
}

.hp-s1-sidebar {
  background: #0387FF;
  color: #FFFFFF;
  width: 280px;
  height: 100vh;
  padding: 20px;
  position: fixed;
  left: -100%;
  top: 0;
  transition: all .6s ease-in-out;
}

.hp-s1-sidebar.active {
  left: 0;
}

.hp-s1-logo {
  text-align: center;
  margin-bottom: 70px;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 500;
  line-height: 20.4px;
}

.hp-s1-logo .hp-s1-rounded-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #FFFFFF;
  position: absolute;
  margin-left: 40px;
  margin-top: -5px;
}

.hp-s1-logo .hp-s1-rounded-icon::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 8px solid #0387FF;
}

.hp-s1-logo img .image {
  background-color: #FFFFFF;
  background-size: r;
  width: 30px;
  height: 30px;
  border: 8px 0px 0px 0px;
}

.hp-s1-menu {
  list-style-type: none;
  padding: 0;
}

.hp-s1-menu li {
  margin-bottom: 40px;
}

.hp-s1-menu li a {
  color: #9ACFFF;
  text-decoration: none;
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 14.28px;
}

.hp-s1-menu li a:hover {
  text-decoration: none;
}

.hp-s1-menu li a img {
  width: 18px;
  height: 18px;
  margin-right: 10px;
  margin-left: 30px;
  color: #9ACFFF;
}

.hp-s1-content {
  flex: 1;
  background: #FFFFFF;
  padding: 20px;
}

.hp-s1-profile {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hp-s1-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  margin-right: auto;
  margin-left: 40px;
}

.hp-s1-profile .hp-s1-user-icon {
  width: 32px;
  height: 32px;
  border-radius: 98px;
  background-color: #007bff;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
}

.hp-s1-profile .hp-s1-user-icon:hover {
  cursor: pointer;
}

.hp-s1-profile button {
  text-decoration: none;
  padding: 5px 12px 5px 12px;
  border-radius: 68px;
  margin-right: 20px;
  background-color: #9ACFFF;
  border: none;
}

.hp-s1-profile button .hp-s1-btn {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #272727;
}

.hp-s1-btn:hover{
  box-shadow: 0px 1px 2px 1px  #007bff;
}

.hp-s1-close-icon {
  cursor: pointer;
  position: absolute;
  font-size: 24px;
  color: white;
  right: 0;
  top: 0;
  margin: 22px;
}

.hp-s1-close-icon img {
  height: 28px;
}

.hp-s1-menu-icon {
  cursor: pointer;
  position: absolute;
  color: white;
  margin: 25px;
}

.hp-s1-menu-icon img {
  height: 22px;
}

@media (min-width: 992px) {
  .hp-s1-sidebar {
    left: 0;
    position: fixed;
  }

  .hp-s1-close-icon {
    display: none;
  }

  .hp-s1-menu-icon {
    display: none;
  }

  .hp-s1-title {
    margin-left: 280px;
    transition: all .6s ease-in-out;
  }
}

@media screen and (max-width: 992px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 600px) {}

@media screen and (max-width: 426px) {
  .hp-s1-sidebar {
    display: none;
  }
}

@media screen and (max-width: 375px) {}

@media screen and (max-width: 320px) {}