/* author : Niman Wijerathna
Created : 2024/05/02
Description : this is the home layout css (hp- home page) */

.hp-s1-container {
  display: flex;
}

.hp-s1-sidebar {
  background: #0387FF;
  color: #FFFFFF;
  width: 280px;
  height: 100vh;
  padding: 20px;
  position: fixed;
  left: -100%;
  top: 0;
  transition: all .6s ease-in-out;
}

.hp-s1-sidebar.active {
  left: 0;
}

.hp-s1-logo {
  text-align: center;
  margin-bottom: 70px;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 500;
  line-height: 20.4px;
}

.hp-s1-logo .hp-s1-rounded-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #FFFFFF;
  position: absolute;
  margin-left: 40px;
  margin-top: -5px;
}

.hp-s1-logo .hp-s1-rounded-icon::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 8px solid #0387FF;
}

.hp-s1-logo img .image {
  background-color: #FFFFFF;
  width: 30px;
  height: 30px;
  border: 8px 0px 0px 0px;
}

.hp-s1-menu {
  list-style-type: none;
  padding: 0;
}

.hp-s1-menu li {
  margin-bottom: 40px;
}

.hp-s1-menu li a {
  color: #9ACFFF;
  text-decoration: none;
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 14.28px;
}

.hp-s1-menu li a:hover {
  text-decoration: none;
}

.hp-s1-menu li a img {
  width: 18px;
  height: 18px;
  margin-right: 10px;
  margin-left: 30px;
  color: #9ACFFF;
}

.hp-s1-content {
  flex: 1;
  background: #FFFFFF;
  padding: 20px;
}

.hp-s1-profile {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hp-s1-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  margin-right: auto;
  margin-left: 40px;
}

.hp-s1-profile .hp-s1-user-icon {
  width: 32px;
  height: 32px;
  border-radius: 20px;
  background-color: #007bff;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  line-height: 14px;
  font-size: 14px;
}

.hp-s1-profile .hp-s1-user-icon:hover {
  cursor: pointer;
}

.hp-s1-profile button {
  text-decoration: none;
  padding: 5px 12px 5px 12px;
  border-radius: 68px;
  margin-right: 20px;
  background-color: #9ACFFF;
  border: none;
}

.hp-s1-profile button .hp-s1-btn {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #272727;
}

.hp-s1-btn:hover {
  box-shadow: 0px 1px 2px 1px #007bff;
}

.hp-s1-close-icon {
  cursor: pointer;
  position: absolute;
  font-size: 24px;
  color: white;
  right: 0;
  top: 0;
  margin: 22px;
}

.hp-s1-close-icon img {
  height: 28px;
}

.hp-s1-menu-icon {
  cursor: pointer;
  position: absolute;
  color: white;
  margin: 25px;
}

.hp-s1-menu-icon img {
  height: 22px;
}

/* User Profile */

.hp-s2-profile-card {
  border: 1px solid #E2D9D9;
  padding: 15px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.hp-s2-profile-card h2 {
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
}

.hp-s2-profile-card img {
  width: 64px;
  height: 64px;
}

.profile-image {
  margin-left: 20px;
}

.hp-s2-profile-card .profile-name {
  font-size: 16px;
  font-weight: 700;
}

.hp-s2-profile-card .profile-position,
.profile-location {
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
}

.profile-details {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  margin-bottom: 10px;
}

.hp-s2-profile-info button {
  position: absolute;
  top: auto;
  background-color: #C7CED5;
  color: #000000;
  padding: 8px;
  border: none;
  font-size: 14px;
  font-weight: 300;
  right: 40px;
  width: 80px;
  border-radius: 20px;
}

.hp-s2-edit-btn .button-icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.personal-details {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-bottom: 10px;
}

.hp-s2-profile-info {
  display: flex;
  flex-direction: column;
}

.hp-s2-personal-info-wrapper {
  display: flex;
  flex-direction: row;
  gap: 150px;
}

.personal-details {
  display: flex;
  flex-direction: column;
}

.address-info-wrapper {
  gap: 240px;
}

.hp-s2-save-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.hp-s2-save-btn button {
  width: 301px;
  height: 50px;
  padding: 4px;
  border-radius: 32px;
  background: #0387FF;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 3px solid rgb(188, 221, 253);
  border-left: 3px solid rgb(188, 221, 253);
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.94px;
  color: #FFFFFF;
}

/* user management */
.hp-s2-user-management-card#user-management {
  display: flex;
}

.edit {
  border: none;
}

.search-bar {
  align-items: center;
  background-color: rgba(154, 207, 255, 1);
  border-radius: 20px;
  width: 70%;
  margin-right: 10px;
  margin-left: 290px;
  padding: 7px;
  display: flex;
}

.search-bar input:focus {
  outline: none;
  border: none;
}

.search-bar img {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  margin-right: 6px;
}

.search-btn img {
  margin-left: 10px;
}

.search-bar input {
  border: none;
  background-color: rgba(154, 207, 255, 1);
  flex-grow: 1;
}

.search-bar input::placeholder {
  color: rgba(77, 170, 255, 1);
}

.search-bar .search-btn {
  margin-left: 10px;
}

.search-bar .search-btn button {
  padding: 9px;
  background-color: rgba(3, 135, 255, 1);
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.search-bar .search-btn img {
  width: 20px;
  height: 20px;
}

.button-group {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.button-group .search-btn button,
.button-group .export-btn button {
  padding: 9px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.button-group .search-btn button {
  background-color: rgba(3, 135, 255, 1);
  color: white;
  font-size: 14px;
}

.button-group .export-btn button {
  background-color: rgba(3, 135, 255, 0.15);
  color: rgba(3, 135, 255, 1);
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
}

.button-group .search-btn img,
.button-group .export-btn img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.container {
  margin-left: 200px;
}

.filters {
  display: flex;
  border: 1px solid rgba(224, 226, 231, 1);
  padding: 9px;
  border-radius: 24px;
  width: 320px;
  margin-bottom: 40px;
  background-color: white;
  margin-left: 90px;
}

.filter-button {
  padding: 0px 12px;
  border: none;
  border-radius: 20px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 14px;
  background-color: transparent;
}

.active {
  background-color: rgba(58, 91, 255, 0.15);
}

.user-table {
  margin-top: 0;
  width: 93%;
  margin-left: 90px;
  border-collapse: collapse;
}

.user-table td a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: rgba(3, 135, 255, 1);
}

.user-table th,
.user-table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.user-table th {
  font-size: 15px;
  font-weight: 700;
}

.user-table th img {
  width: 20px;
  height: 20px;
  margin-right: 7px;
}

.user-table td {
  background-color: #f9f9f9;
}

.user-table .details {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(110, 112, 121, 1);
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info span {
  font-size: 14px;
  margin-top: -15px;
}

.user-info p {
  font-size: 12px;
  position: absolute;
  margin: 25px 0px 1px 50px;
  color: rgba(110, 112, 121, 1);
  font-weight: 400;
  line-height: 18px;
}

.user-info img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.status {
  padding: 5px 10px;
  border-radius: 4px;
  color: #fff;
}

.status.active {
  background-color: rgba(58, 255, 66, 0.16);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(61, 184, 58, 1);
}

.status.deleted {
  background-color: rgba(245, 126, 119, 0.12);
  color: rgba(204, 95, 95, 1);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.type {
  padding: 5px 10px;
  border-radius: 4px;
  color: #fff;
}

.type.user {
  background-color: rgba(74, 136, 255, 0.12);
  color: rgba(43, 128, 226, 1);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.type.admin {
  background-color: rgba(128, 28, 255, 0.16);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(137, 45, 255, 1);
}

.action-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0px 1px;
}

.action-button img {
  width: 16px;
  height: 16px;
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  width: 100%;
}

.pagination-info {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(102, 112, 133, 1);
  margin: 90px;
}

.pagination {
  display: flex;
}

.page-button {
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: 14px;
  margin-right: 5px;
  color: rgba(3, 135, 255, 1);
}

.page-button.active {
  background-color: rgba(3, 135, 255, 1);
  color: #fff;
}

.page-button:hover {
  background-color: #ddd;
}













@media (min-width: 992px) {
  .hp-s1-sidebar {
    left: 0;
    position: fixed;
  }

  .hp-s1-close-icon {
    display: none;
  }

  .hp-s1-menu-icon {
    display: none;
  }

  .hp-s1-title {
    margin-left: 280px;
    transition: all .6s ease-in-out;
  }

  .hp-s2-profile-container {
    margin-left: 300px;
    margin-right: 20px;
  }

  .hp-s2-save-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
}

