/* author : Niman Wijerathna
Created : 2024/05/02
Description : this is the home layout css (hp- home page) */

.hp-s1-container {
  display: flex;
}

.hp-s1-sidebar {
  background: #0387FF;
  color: #FFFFFF;
  width: 280px;
  height: 100vh;
  padding: 20px;
  position: fixed;
  left: -100%;
  top: 0;
  transition: all .6s ease-in-out;
}

.hp-s1-sidebar.active {
  left: 0;
}

.hp-s1-logo {
  text-align: center;
  margin-bottom: 70px;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 500;
  line-height: 20.4px;
}

.hp-s1-logo .hp-s1-rounded-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #FFFFFF;
  position: absolute;
  margin-left: 40px;
  margin-top: -5px;
}

.hp-s1-logo .hp-s1-rounded-icon::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 8px solid #0387FF;
}

.hp-s1-logo img .image {
  background-color: #FFFFFF;
  width: 30px;
  height: 30px;
  border: 8px 0px 0px 0px;
}

.hp-s1-menu {
  list-style-type: none;
  padding: 0;
}

.hp-s1-menu li {
  margin-bottom: 40px;
}

.hp-s1-menu li a {
  color: #9ACFFF;
  text-decoration: none;
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 14.28px;
}

.hp-s1-menu li a:hover {
  text-decoration: none;
}

.hp-s1-menu li a img {
  width: 18px;
  height: 18px;
  margin-right: 10px;
  margin-left: 30px;
  color: #9ACFFF;
}

.hp-s1-content {
  flex: 1;
  background: #FFFFFF;
  padding: 20px;
}

.hp-s1-profile {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hp-s1-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  margin-right: auto;
  margin-left: 40px;
}

.hp-s1-profile .hp-s1-user-icon {
  width: 32px;
  height: 32px;
  border-radius: 20px;
  background-color: #007bff;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  line-height: 14px;
  font-size: 14px;
}

.hp-s1-profile .hp-s1-user-icon:hover {
  cursor: pointer;
}

.hp-s1-profile button {
  text-decoration: none;
  padding: 5px 12px 5px 12px;
  border-radius: 68px;
  margin-right: 20px;
  background-color: #9ACFFF;
  border: none;
}

.hp-s1-profile button .hp-s1-btn {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #272727;
}

.hp-s1-close-icon {
  cursor: pointer;
  position: absolute;
  font-size: 24px;
  color: white;
  right: 0;
  top: 0;
  margin: 22px;
}

.hp-s1-close-icon img {
  height: 28px;
}

.hp-s1-menu-icon {
  cursor: pointer;
  position: absolute;
  color: white;
  margin: 25px;
}

.hp-s1-menu-icon img {
  height: 22px;
}

/* user management */
.hp-s2-user-management-card#user-management {
  display: flex;
}

.edit {
  border: none;
}

.hp-s3-search-bar {
  align-items: center;
  background-color: rgba(154, 207, 255, 1);
  border-radius: 20px;
  width: 70%;
  margin-right: 10px;
  margin-left: 290px;
  padding: 7px;
  display: flex;
}

.hp-s3-search-bar input:focus {
  outline: none;
  border: none;
}

.hp-s3-search-bar img {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  margin-right: 6px;
}

.search-btn img {
  margin-left: 10px;
}

.hp-s3-search-bar input {
  border: none;
  background-color: rgba(154, 207, 255, 1);
  flex-grow: 1;
}

.hp-s3-search-bar input::placeholder {
  color: rgba(77, 170, 255, 1);
}

.hp-s3-search-bar .search-btn {
  margin-left: 10px;
}

.hp-s3-search-bar .search-btn button {
  padding: 9px;
  background-color: rgba(3, 135, 255, 1);
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.search-btn img {
  width: 20px;
  height: 20px;
}

.hp-s3-button-group {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.hp-s3-button-group .search-btn button,
.hp-s3-button-group .export-btn button {
  padding: 9px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.hp-s3-button-group .search-btn button {
  background-color: rgba(3, 135, 255, 1);
  color: white;
  font-size: 14px;
}

.hp-s3-button-group .export-btn button {
  background-color: rgba(3, 135, 255, 0.15);
  color: rgba(3, 135, 255, 1);
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
}

.hp-s3-button-group .search-btn img,
.hp-s3-button-group .export-btn img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.container {
  margin-left: 200px;
}

.hp-s3-filter-container {
  flex-direction: row;
  display: flex;
  gap: 20px;
}

.filter-btn {
  align-items: flex-end;
  justify-content: flex-end;
  margin-left: auto;
}

.filter-btn button {
  padding: 8px 14px;
  border-radius: 20px;
  border: 1px solid rgba(224, 226, 231, 1);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(102, 112, 133, 1);
}

.filter-btn button img {
  width: 16px;
  height: 16px;
  margin-right: 2px;
}

.hp-s3-filters {
  display: flex;
  border: 1px solid rgba(224, 226, 231, 1);
  padding: 9px;
  border-radius: 24px;
  width: 320px;
  margin-bottom: 40px;
  background-color: white;
  margin-left: 90px;
}

.filter-button {
  padding: 0px 12px;
  border: none;
  border-radius: 20px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 14px;
  background-color: transparent;
}

.active {
  background-color: rgba(58, 91, 255, 0.15);
}

.hp-s3-user-table {
  margin-top: 0;
  width: 93%;
  margin-left: 90px;
  border-collapse: collapse;
}

.hp-s3-user-table td a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: rgba(3, 135, 255, 1);
}

.hp-s3-user-table th,
.hp-s3-user-table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.hp-s3-user-table th {
  font-size: 15px;
  font-weight: 700;
}

.hp-s3-user-table th img {
  width: 20px;
  height: 20px;
  margin-right: 7px;
}

.hp-s3-user-table td {
  background-color: #f9f9f9;
}

.hp-s3-user-table .details {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(110, 112, 121, 1);
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info span {
  font-size: 14px;
  margin-top: -15px;
}

.user-info p {
  font-size: 12px;
  position: absolute;
  margin: 25px 0px 1px 50px;
  color: rgba(110, 112, 121, 1);
  font-weight: 400;
  line-height: 18px;
}

.user-info img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.status {
  padding: 5px 10px;
  border-radius: 4px;
  color: #fff;
}

.status.active {
  background-color: rgba(58, 255, 66, 0.16);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(61, 184, 58, 1);
}

.status.deleted {
  background-color: rgba(245, 126, 119, 0.12);
  color: rgba(204, 95, 95, 1);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.type {
  padding: 5px 10px;
  border-radius: 4px;
  color: #fff;
}

.type.user {
  background-color: rgba(74, 136, 255, 0.12);
  color: rgba(43, 128, 226, 1);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.type.admin {
  background-color: rgba(128, 28, 255, 0.16);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(137, 45, 255, 1);
}

.action-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0px 1px;
}

.action-button img {
  width: 16px;
  height: 16px;
}

.hp-s3-pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  width: 100%;
}

.hp-s3-pagination-info {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(102, 112, 133, 1);
  margin: 90px;
}

.hp-s3-pagination {
  display: flex;
}

.page-button {
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: 14px;
  margin-right: 5px;
  color: rgba(3, 135, 255, 1);
}

.page-button.active {
  background-color: rgba(3, 135, 255, 1);
  color: #fff;
}

.page-button:hover {
  background-color: #ddd;
}

/* dashboard-section */

.hp-s4-container {
  display: flex;
  margin-left: 280px;
  padding: 20px;
  gap: 40px;
}

.project-card {
  background-color: rgba(217, 217, 217, 1);
  padding: 20px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 370px;
  border-radius: 20px;
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-header h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 20.4px;
  color: rgba(3, 135, 255, 1);
}

.project-status {
  display: flex;
  align-items: center;
}

.status-dot {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  margin-right: 5px;
}

.status-dot.green {
  background-color: rgba(0, 214, 21, 1);
}

.status-dot.yellow {
  background-color: rgba(214, 205, 0, 1);
}

.status-text {
  font-size: 10px;
  font-weight: 500;
  line-height: 7.14px;
  color: rgba(0, 0, 0, 1);
}

.project-id {
  font-size: 13px;
  font-weight: 700;
  line-height: 12.24px;
  color: rgba(0, 0, 0, 1);
  margin-bottom: 4px;
}

.project-dates {
  display: flex;
  font-size: 11px;
  font-weight: 700;
}

.project-dates span {
  font-size: 11px;
  color: rgba(134, 134, 134, 1);
  display: block;
  font-weight: 500;
}

.project-dates span:first-child {
  margin-right: 5px;
}

.project-dates span:last-child {
  margin-left: auto;
}

.hp-s4-divider {
  border: 1px solid rgba(255, 255, 255, 1);
}

.project-tasks {
  margin-top: 20px;
}

.project-tasks h3 {
  font-size: 16px;
  color: rgba(0, 0, 0, 1);
  font-weight: 600;
  line-height: 12.24px;
  margin-bottom: 20px;
}

.task {
  background-color: rgba(154, 207, 255, 1);
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 3px;
  margin-bottom: 7px;
  justify-content: space-between;
}

.task-id {
  border-radius: 8px;
  padding: 2px 6px;
  font-size: 11px;
  color: rgba(134, 134, 134, 1);
  margin-right: 10px;
}

.task-status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: auto;
  margin-top: auto;
}

.task-status.green {
  background-color: rgba(0, 214, 21, 1);
}

.task-status.yellow {
  background-color: rgba(214, 205, 0, 1);
}

.task-status.red {
  background-color: rgba(252, 76, 76, 1);
}

.task-status.blue {
  background-color: rgba(26, 34, 248, 1);
}

.task-name {
  font-size: 11px;
  font-weight: 500;
  line-height: 8.16px;
  color: rgba(134, 134, 134, 1);
  margin-right: 10px;
}

.project-section {
  background-color: #f8f9fa;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* Project Management */
.hp-s5-container {    
  margin-left: 280px;
  margin-top: -10px;
  padding-left: 20px;  
  padding-right: 20px;  
}

.prj-input {
  width: 170%;
  margin: 5px auto;
  font-size: var(--font-p-lg);
  border-radius: 50px;
  border: 1px solid #9ACFFF;
  background-color: #9ACFFF;
  padding: 10px 25px;
}

.prj-input2 {
  width: 165%;
  margin: 5px auto;
  font-size: var(--font-p-lg);
  border-radius: 50px;
  border: 1px solid #CDCDCD;
  background-color: #CDCDCD;
  padding: 10px 25px;
}

.prj-input3 {
  width: 55%;  
  font-size: var(--font-p-lg);
  border-radius: 50px;
  border: 1px solid #CDCDCD;
  background-color: #CDCDCD;
  padding: 10px 25px;
}

.status-card {
  background-color: #9ACFFF;
  padding: 10px;
  max-width: 350px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 350px;
  border-radius: 20px;
}

@media (min-width: 992px) {
  .hp-s1-sidebar {
    left: 0;
    position: fixed;
  }

  .hp-s1-close-icon {
    display: none;
  }

  .hp-s1-menu-icon {
    display: none;
  }

  .hp-s1-title {
    margin-left: 280px;
    transition: all .6s ease-in-out;
  }

  .hp-s2-profile-container {
    margin-left: 300px;
    margin-right: 20px;
  }

  .hp-s2-save-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 992px) {
  .hp-s4-container {
    margin-left: 0px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .project-card {
    width: 370px;
    height: 400px;
  }
}

@media screen and (max-width: 768px) {

  .container,
  .hp-s3-search-bar,
  .hp-s3-user-table,
  .hp-s3-filters,
  .hp-s3-pagination-info,
  .pagination {
    margin-left: 0;
  }

  .hp-s3-filter-container {
    flex-direction: row;
    justify-content: flex-end;

  }

  .filter-btn button {
    margin-top: 95%;
  }

}

@media screen and (max-width: 600px) {
  .hp-s2-personal-info-wrapper {
    gap: 5px;
  }

  .address-info-wrapper {
    gap: 100px;
  }

  .hp-s2-profile-card {
    margin: 15px;
  }

  .profile-details {
    margin-left: 15px;
  }

  .hp-s2-save-btn {
    margin-top: 130px;
    margin-bottom: 80px;
  }

  .hp-s2-profile-card#user-management {
    margin-left: 0px;
  }

  .hp-s3-search-bar {
    margin-left: 0;
    display: flex;
  }

  .search-btn button,
  .export-btn button {
    text-indent: -9999px;
  }

  .container,
  .hp-s3-filters {
    margin-left: 0;
  }

  .hp-s3-user-table {
    margin-left: 0px;
  }

  .user-info p {
    margin: 38px 0px 1px 50px;
  }

  .pagination-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    width: 100%;
    margin-top: 20px;
  }

  .hp-s3-pagination-info {
    margin-left: 10px;
  }

  .filter-btn {
    margin-top: -80px;
  }

  .hp-s4-container {
    margin-left: 0px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .project-card {
    width: 370px;
    height: 400px;
  }
}

@media screen and (max-width: 426px) {
  .hp-s1-sidebar {
    display: none;
  }
}

@media screen and (max-width: 375px) {}

@media screen and (max-width: 320px) {}