.rpp-left-panel {
  position: relative;
}

.rpp-right-panel {
  background-image: url("/resources/images/reset-password/bg-image.jpg");
  background-size: cover;
  background-position: center;
}

.rpp-rounded-border {
  display: none;
  position: absolute;
  top: -40px;
  width: 100%;
  height: 40px;
  border-radius: 40px 40px 0 0;
  background-color: var(--light);
}

.rpp-dot {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: var(--light);
}

.rpp-model {
  background-color: var(--light);
}

.rpp-input-width {
  max-width: 600px;
  min-width: 300px;
}

.rpp-model-body {
  width: 250px;
  margin: 0 auto;
  background-color: rgb(206, 206, 206);
}

.rpp-check {
  width: 70px;
  height: 70px;
  background-image: url("/resources/images/reset-password/check-mark.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
  .rpp-dot {
    width: 20px;
    height: 20px;
  }

  .rpp-rounded-border {
    display: block;
  }

  .rpp-right-panel {
    height: 35vh;
  }

  .rpp-left-panel {
    height: 65vh;
  }
}
