.sig-left-panel{
  background-image: url("/resources/images/signin/signinimage.png");
  background-size: cover;
  background-position: center;
}

.sig-dot {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: var(--light);
}

.sig-line-main{
  display: flex;
  align-items: center;
  width: 100%;
}

.sig-line {
  flex: 1;
  height: 0.125em;
}

@media screen and (max-width: 767.98px) {
  .sig-dot {
    width: 15px;
    height: 15px;
  }

  .sig-left-panel{
    height: 25vh;
  }

  .sig-right-panel{
    height: 75vh;    
  }

  .sig-input-area{
    margin-top: -20px;
  }
}